Repository Syufan/todo-app-angular-dotnet: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

.codecov.yml:

---
codecov:
  notify:
    after_n_builds: 2

coverage:
  status:
    project:
      default:
        target: 0.8
        threshold: 0.02
    patch:
      default:
        target: 0.6
        threshold: 0.05

flags:
  frontend:
    paths:
      - client/
  backend:
    paths:
      - server/

fix: add missing analyzer package for code style checks
  server/server.csproj
Due: backend

fix: add ESLint and lint script (ng lint)
  .github/workflows/ci.yml
  client/angular.json
  client/eslint.config.js
  client/package-lock.json
  client/package.json
Due: frontend

fix(ci): add missing lint script
  .github/workflows/ci.yml
  Server.Tests/TestResults/a5a8574c-22c2-434e-855d-31ae1b2bc4bc/coverage.cobertura.xml
  Server.Tests/bin/Debug/net9.0/Server.Tests.dll
  Server.Tests/bin/Debug/net9.0/Server.Tests.pdb
  Server.Tests/bin/Debug/net9.0/server.deps.json
  Server.Tests/bin/Debug/net9.0/server.dll
  Server.Tests/bin/Debug/net9.0/server.pdb
  Server.Tests/obj/Debug/net9.0/Server.Tests.AssemblyInfo.cs
  Server.Tests/obj/Debug/net9.0/Server.Tests.AssemblyInfoInputs.cache
  Server.Tests/obj/Debug/net9.0/Server.Tests.csproj.AssemblyReference.cache
  Server.Tests/obj/Debug/net9.0/Server.Tests.dll
  Server.Tests/obj/Debug/net9.0/Server.Tests.pdb
  Server.Tests/obj/Debug/net9.0/Server.Tests.sourcelink.json
  Server.Tests/obj/Debug/net9.0/ref/Server.Tests.dll
  Server.Tests/obj/Debug/net9.0/refint/Server.Tests.dll
  Server.Tests/obj/Server.Tests.csproj.nuget.dgspec.json
  Server.Tests/obj/project.nuget.cache
  server/bin/Debug/net9.0/server.deps.json
  server/bin/Debug/net9.0/server.dll
  server/bin/Debug/net9.0/server.pdb
  server/obj/Debug/net9.0/ref/server.dll
  server/obj/Debug/net9.0/refint/server.dll
  server/obj/Debug/net9.0/server.AssemblyInfo.cs
  server/obj/Debug/net9.0/server.AssemblyInfoInputs.cache
  server/obj/Debug/net9.0/server.assets.cache
  server/obj/Debug/net9.0/server.dll
  server/obj/Debug/net9.0/server.pdb
  server/obj/Debug/net9.0/server.sourcelink.json
  server/obj/project.assets.json
  server/obj/project.nuget.cache
  server/obj/server.csproj.nuget.dgspec.json
  server/obj/server.csproj.nuget.g.props
  server/obj/server.csproj.nuget.g.targets
Due: backend

fix: remove extra whitespace for format check
  .github/workflows/ci.yml
  server/Program.cs
Due: backend

test: test pre-commit
  .gitignore
  .husky/pre-commit
  client/.gitignore
  lint-staged.config.cjs
  package-lock.json
  package.json
Due: frontend

test: pre-commit checks
  .husky/pre-commit
  client/package.json
  client/src/app/app.config.server.ts
  client/src/app/app.config.ts
  client/src/app/app.html
  client/src/app/app.routes.server.ts
  client/src/app/app.spec.ts
  client/src/app/app.ts
  client/src/main.server.ts
  client/src/main.ts
  client/src/server.ts
  lint-staged.config.cjs
  server/obj/Debug/net9.0/server.AssemblyInfo.cs
  server/obj/Debug/net9.0/server.AssemblyInfoInputs.cache
Due: frontend, backend

fear: lock dev env, add bootstrap script
  .editorconfig
  .gitattributes
  .nvmrc
  README.md
  README1.md
  global.json
  scripts/bootstrap.sh
  server/Program.cs
  server/obj/Debug/net9.0/server.AssemblyInfo.cs
  server/obj/Debug/net9.0/server.AssemblyInfoInputs.cache
Due: backend

fear: lock dev env, add bootstrap script
  README.md
  README1.md
Due: none

feat: add domain and application layers
  server/Application/ITodoRepository.cs
  server/Domain/TodoItem.cs
Due: backend

fix: async to sync
  server/Application/ITodoRepository.cs
Due: backend

feat: add TodoController
  server/Controllers/TodoController.cs
Due: backend

feat: add InMemoryTodoRep
  server/Infrastructure/InMemoryTodoRepository.cs
Due: backend

feat: register and mount correlation ID middleware
  server/Middleware/CorrelationIdMiddleware.cs
  server/Program.cs
  server/Setup/ServiceCollectionExtensions.cs
  server/Setup/WebApplicationExtensions.cs
  server/obj/Debug/net9.0/ref/server.dll
  server/obj/Debug/net9.0/refint/server.dll
  server/obj/Debug/net9.0/server.AssemblyInfo.cs
  server/obj/Debug/net9.0/server.AssemblyInfoInputs.cache
  server/obj/Debug/net9.0/server.MvcApplicationPartsAssemblyInfo.cs
  server/obj/Debug/net9.0/server.assets.cache
  server/obj/Debug/net9.0/server.csproj.AssemblyReference.cache
  server/obj/Debug/net9.0/server.csproj.CoreCompileInputs.cache
  server/obj/Debug/net9.0/server.csproj.FileListAbsolute.txt
  server/obj/Debug/net9.0/server.dll
  server/obj/Debug/net9.0/server.pdb
  server/obj/Debug/net9.0/server.sourcelink.json
  server/obj/project.assets.json
  server/obj/project.nuget.cache
  server/obj/server.csproj.nuget.dgspec.json
  server/obj/server.csproj.nuget.g.props
  server/obj/server.csproj.nuget.g.targets
Due: backend

feat: add Setup
  server/Setup/ServiceCollectionExtensions.cs
Due: backend

feat: add API contracts for Todo (DTOs and request models)
  server/Contracts/CreateTodoRequest.cs
  server/Contracts/TodoItemDto.cs
  server/Contracts/TodoMapping.cs
Due: backend

chore: include project file for build and dependency management
  server/server.csproj
Due: backend

feat: add structured logging
  server/Program.cs
  server/Setup/WebApplicationExtensions.cs
Due: backend

style: annotation style update
  server/Program.cs
Due: backend

chore: add Serilog logging dependencies
  server/server.csproj
Due: backend

feat: add defensive checks
  server/Controllers/TodoController.cs
  server/bin/Debug/net9.0/Microsoft.AspNetCore.OpenApi.dll
  server/bin/Debug/net9.0/Microsoft.OpenApi.dll
  server/bin/Debug/net9.0/appsettings.Development.json
  server/bin/Debug/net9.0/appsettings.json
  server/bin/Debug/net9.0/server
  server/bin/Debug/net9.0/server.deps.json
  server/bin/Debug/net9.0/server.dll
  server/bin/Debug/net9.0/server.pdb
  server/bin/Debug/net9.0/server.runtimeconfig.json
  server/bin/Debug/net9.0/server.staticwebassets.endpoints.json
  server/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
  server/obj/Debug/net9.0/apphost
  server/obj/Debug/net9.0/ref/server.dll
  server/obj/Debug/net9.0/refint/server.dll
  server/obj/Debug/net9.0/server.AssemblyInfo.cs
  server/obj/Debug/net9.0/server.AssemblyInfoInputs.cache
  server/obj/Debug/net9.0/server.GeneratedMSBuildEditorConfig.editorconfig
  server/obj/Debug/net9.0/server.GlobalUsings.g.cs
  server/obj/Debug/net9.0/server.MvcApplicationPartsAssemblyInfo.cache
  server/obj/Debug/net9.0/server.MvcApplicationPartsAssemblyInfo.cs
  server/obj/Debug/net9.0/server.assets.cache
  server/obj/Debug/net9.0/server.csproj.AssemblyReference.cache
  server/obj/Debug/net9.0/server.csproj.CoreCompileInputs.cache
  server/obj/Debug/net9.0/server.csproj.FileListAbsolute.txt
  server/obj/Debug/net9.0/server.csproj.Up2Date
  server/obj/Debug/net9.0/server.dll
  server/obj/Debug/net9.0/server.genruntimeconfig.cache
  server/obj/Debug/net9.0/server.pdb
  server/obj/Debug/net9.0/server.sourcelink.json
  server/obj/Debug/net9.0/staticwebassets.build.endpoints.json
  server/obj/Debug/net9.0/staticwebassets.build.json
  server/obj/Debug/net9.0/staticwebassets/msbuild.build.server.props
  server/obj/Debug/net9.0/staticwebassets/msbuild.buildMultiTargeting.server.props
  server/obj/Debug/net9.0/staticwebassets/msbuild.buildTransitive.server.props
  server/obj/project.assets.json
  server/obj/project.nuget.cache
  server/obj/server.csproj.nuget.dgspec.json
  server/obj/server.csproj.nuget.g.props
  server/obj/server.csproj.nuget.g.targets
Due: backend

test: add unit tests for TodoController
  Server.Tests/TodoControllerTests.cs
Due: none

test: add API validation integration tests
  Server.Tests/ApiValidationTests.cs
Due: none

chore: add Server.Tests.csproj
  Server.Tests/Server.Tests.csproj
Due: none

test: add Infrastructure test
  Server.Tests/InMemoryTodoRepositoryTests.cs
Due: none

feat: log server listening
  server/Program.cs
Due: backend

test: fix blocking Task call
  Server.Tests/InMemoryTodoRepositoryTests.cs
Due: none

chore:fix test logger config
  .github/workflows/ci.yml
Due: none

fix: code coverage failure
  client/angular.json
  client/eslint.config.js
  client/karma.conf.js
  client/src/index.html
  client/tsconfig.app.json
  client/tsconfig.spec.json
Due: frontend

fix: code coverage failure
  Server.Tests/UnitTest1.cs
Due: none

chore(frontend): fix coverage failure
  client/angular.json
  client/karma.conf.cjs
  client/karma.conf.js
  client/package-lock.json
  client/package.json
Due: frontend

chore:Dereference of a possibly null reference
  Server.Tests/TodoControllerTests.cs
Due: none

docs: add type definitions
  client/src/app/models/todo.models.ts
Due: frontend

feat: implement todo store
  client/src/app/services/todo.store.ts
Due: frontend

fix: update TodoStore
  client/src/app/services/todo.store.ts
Due: frontend

handle all backend interactions
  client/src/app/services/todo.service.ts
Due: frontend

feat: handle all backend interactions
  client/src/app/services/todo.service.ts
  client/src/app/services/todo.store.ts
Due: frontend

feat: add todos page + app.html
  client/src/app/app.html
  client/src/app/pages/todos/todos.page.ts
Due: frontend

chore: fix style
  client/src/app/app.html
  client/src/app/pages/todos/todos.page.ts
Due: frontend

style: add tailwind
  client/src/styles.css
Due: frontend
